<nav>
    <img src="../img/logo.webp" alt="logo" loading="lazy" width="50" height="44" class="img-logo"/>
    <div class="logo">
      <a href="/">Mars</a>
    </div>
    <div class="nav-buttons">
      <% if (isAuthenticated) { %>
        <button class="btn-nav" onclick="showAccount()">Account</button>
      <% } else { %>
        <button class="btn-nav" onclick="showChoose()">Sign In | Register</button>
      <% } %>
      <a href="/analytics" class="btn-nav">Analytics</a>
      <a href="/dashboard" class="btn-nav">Dashboard</a>
    </div>
</nav>
<div id="modals">
    <div class="modal-overlay" id="overlay"></div>
        <% if (isAuthenticated) { %>
        <div class="modal" id="accountModal">
            <div class="account-container card">
                <button id="close-btn" class="btn-close" onclick="closeAll()">✖</button>
                <div class="account-content">
                    <h2>Welcome, <%= user.prenom_utilisateur %>!</h2>
                    <p>Prenom: <%= user.prenom_utilisateur %></p>
                    <p>Nom: <%= user.nom_utilisateur %></p>
                    <p>Email: <%= user.email_utilisateur %></p><br/>
                    <button onclick="toggleEdit()" class="btn">Edit Info</button><br/>
                    <button onclick="logout()" class="btn">Log out</button>
                </div>

                <!-- Edit Info Card -->
                <div id="editCard" style="display:none;">
                    <h2>Edit Your Information</h2>
                    <input type="text" placeholder="Prénom" />
                    <input type="text" placeholder="Nom" />
                    <input type="email" placeholder="Email" />
                    <input type="password" placeholder="Nouveau mot de passe (optionnel)" />
                    <button class="btn">Submit</button>
                </div>
            </div>
        </div>
        <% } else { %>
        <div class="modal" id="chooseModal">
            <div class="card">
                <button id="close-btn" class="btn-close" onclick="closeAll()">✖</button>
                <h2>Account</h2>
                <button onclick="showLogin()" class="btn-nav">Sign in</button><br/>
                <button onclick="showRegister()" class="btn-nav">Register</button>
            </div>
        </div>
        <% } %>
        <div class="modal" id="loginModal">
            <div class="card">
                <button id="close-btn" class="btn-close" onclick="closeAll()">✖</button>
                <h2>Bienvenue</h2>
                <p>Connectez-vous à votre compte</p>
                <img src="../img/unknown.webp" loading="lazy" width="100" height="100" class="login-image" />
                <form onsubmit="handleLogin(event)">
                <input id="login-email" type="email" placeholder="Email" required />
                <input id="login-mdp" type="password" placeholder="Mot de passe" required />
                <input class="btn-submit" type="submit" value="Se connecter" />
                <p class="register-link">Pas encore de compte ? <a href="#" onclick="showRegister()">Inscrivez-vous</a></p>
                </form>
            </div>
        </div>
        <div class="modal" id="registerModal">
            <div class="card">
                <button id="close-btn" class="btn-close" onclick="closeAll()">✖</button>
                <h2>Créer un compte</h2>
                <p>Inscrivez-vous pour accéder à nos services</p>
                <img src="../img/unknown.webp" loading="lazy" width="100" height="100" class="register-image" />
                <form onsubmit="handleRegister(event)">
                <input id="register-prenom" type="text" placeholder="Prénom" required />
                <input id="register-nom" type="text" placeholder="Nom" required />
                <input id="register-email" type="email" placeholder="Email" required />
                <input id="register-mdp" type="password" placeholder="Mot de passe" required />
                <input type="submit" value="S'inscrire" class="btn-submit" />
                <p class="login-link">Vous avez déjà un compte ? <a href="#" onclick="showLogin()">Connectez-vous</a></p>
                </form>
            </div>
        </div>
    </div>
</div>